<ons-toolbar>
    <div class="center">Page1</div>
</ons-toolbar>

<div style="text-align: center">
    <br />
    <ons-button 
        ng-click="myNavigator.pushPage('new_page.html')">
        hhhh
    </ons-button>
</div>

<ul class="list list--inset">
  <li class="list__item list--inset__item list__item--chevron" ng-click="myNavigator1.pushPage('page3.html')">
    List Item with Chevron
  </li>
  <li class="list__item list--inset__item list__item--chevron">
    List Item with Chevron
  </li>
</ul>
